@import "tailwindcss";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";

:root,
html[data-theme='light'] {
  --background: #f2f6fa;
  --foreground: #08080c;
  --scrollbar-width: 10px;
  --scrollbar-track: #f2f6fa;
  --scrollbar-thumb: #d4d9e0;
  --scrollbar-thumb-hover: #b8bec6;
}

html[data-theme='dark'] {
  --background: #08080c;
  --foreground: #f2f6fa;
  --scrollbar-width: 10px;
  --scrollbar-track: #2d313a;
  --scrollbar-thumb: #383b45;
  --scrollbar-thumb-hover: #474b54;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Poppins", sans-serif;
  --font-mono: ui-monospace, monospace;
}

/**/
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
  transition:
    background 0.2s ease,
    color 0.2s ease;
}

* {
  scrollbar-width: auto;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

/* width */
*::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

/* Track */
*::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

*::-webkit-scrollbar-corner {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-button {
  display: none;
}
